<div class="container">
  <div class="row text-center">
    <div class="col">
      <h2>QUIZ MAKER</h2>
    </div>
  </div>

  <div class="row justify-content-center py-3">
    <div class="col-11 p-0">
      <app-quiz-select-form
       [triviaCategories]="triviaCategories"
       [triviaDifficulties]="triviaDifficulties"
       (submitFormEmitter)="getQuestions($event)">
      </app-quiz-select-form>
    </div>
  </div>

  <ng-container *ngIf="triviaQuestions && triviaQuestions.length > 0">
    <app-quiz-responses-select-form
      [triviaQuestions]="triviaQuestions"
      (submitFormEmitter)="onSubmitQuizResponses($event)"
    ></app-quiz-responses-select-form>
  </ng-container>
</div>
